* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding : 16px;
    --border: 1px solid white;
    --border-radius : 8px;
    --background-color: #212038;
    --cell-background-color: #272841;
    --cell-text-color: #ffffff;
    --gray-text-color: gray;
    --button-color: #3b3c55;
    /*Enter Colors Here*/
}

html, body { height: 100%; }
body { min-height: 100vh; }

body{
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

    color: var(--cell-text-color);
}

h1 {
    font-size: clamp(16px, 24px, 32px);
    font-weight: 600;
    color: var(--cell-text-color);
    text-align: center;
    line-height: 1.2;
}

h2 {
    font-size: clamp(12px, 16px, 20px);
    font-weight: 600;
    color: var(--cell-text-color);
    text-align: center;
    line-height: 1.2;
}

h3 {
    font-size: clamp(12px, 14px, 16px);
    font-weight: 600;
    color: var(--gray-text-color);
    text-align: center;
    line-height: 1.2;
}


.media-changer{
  height: 100svh;
  padding: clamp(12px, 16px, 24px);
  display: grid;
  grid-template-rows: 1fr; /* key */
  overflow: hidden;
}

.body-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 258px 258px 258px;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: clamp(12px, 16px, 24px);
  gap: clamp(12px, 16px, 24px);

  min-height: 0;      /* key */
  max-height: 100%;   /* key */
  overflow: auto;     /* scrolling happens here */

  background-color: var(--button-color);
}
